
body{
    background: linear-gradient(tan, salmon);
    font-family: 'Times New Roman', Times, serif;
   
 }

 img{
    width: 30%;

 }

 nav{
    font-size: 30px;
  }

header{
 background-color: bisque;
 box-shadow: 1px 1px 1px 1px;
 text-align: center;
 font-size: 20px;
 position: relative;
}

